<footer>
		<div class="social">
			<a href="#"><img src="img/em.png" alt="Email"></a>
			<a href="#"><img src="img/face.png" class="v" alt="Facebook"></a>
			<a href="#"><img src="img/goo.png" class="v" alt="Google+"></a>
			<a href="#"><img src="img/inst.png" class="v" alt="Instagram"></a>
			<a href="#"><img src="img/pint.png" class="v" alt="Pinterest"></a>
			<a href="#"><img src="img/vk.png" class="v" alt="Vkontakte"></a>
		</div>
		<p>&copy; TopDish.2018</p>
	</footer>
</body>
</html>