* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: rgb(206, 42, 64);
  border-bottom: 1px solid rgb(58, 3, 3);
  border-top: 1px solid rgb(58, 3, 3);
}

.logo {
  margin: auto 0;
}

.topnav {
  list-style: none;
  position: relative;
  margin: auto 0;
  font-size: 25px;
  margin-right: 15px;
  li {
    display: inline-block;
    /*border-bottom: 4px solid #000;*/
    box-sizing: border-box;
    padding: 22px 0;
    cursor: pointer;
    a {
      &:hover {
        background-color: #fff;
        color: rgb(206, 42, 64);
      }
      color: #fff;
      text-align: center;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      padding: 21px 18px;
      transition: all .3s;
    }
  }
}

.city {
  font-size: 45px;
  padding: 10px 0;
  color: #fff;
}

main {
  display: flex;
  justify-content: center;
}

.main_items {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.category {
  width: 700px;
  > p {
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
  }
}

.dish {
  width: 100%;
  border: 1px solid rgb(206, 42, 64);
  margin-top: 30px;
  position: relative;
  > img {
    float: left;
    margin: 15px;
  }
}

.info {
  margin: 15px;
  padding-top: 15px;
  font-size: 20px;
  * {
    margin-top: 10px;
  }
}

.dishName {
  font-size: 25px;
  font-weight: bold;
  color: rgb(163, 13, 13);
}

.description {
  clear: both;
  font-size: 18px;
  line-height: 20px;
  margin: 0 15px;
}

.date {
  margin: 30px 10px 10px 10px;
  color: rgb(90, 88, 86);
  font-weight: bold;
}

.top {
  position: absolute;
  top: -50px;
  left: -48px;
}

.likes {
  position: absolute;
  right: 35px;
  top: 10px;
}

.amount {
  font-size: 20px;
}

footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  background: rgb(206, 42, 64);
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
  p {
    color: white;
  }
}

.social {
  .v {
    margin-left: 20px;
  }
  img {
    margin-bottom: 10px;
    &:hover {
      background: rgb(117, 33, 44);
      border-radius: 50%;
    }
  }
}